*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.common{
    /* border: 1px solid red; */
}


.kaira{
    /* border: px solid red; */
    display: flex;
    justify-content: center;
    gap: 17%;
    
}
.kaira_content{
      /* border: px solid red; */
      
}
.name{
    color: black;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.options{
    display: flex;
    gap: 50px;
    padding: 20px 0px;
}
.like{
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}

.background{
    background-color: rgb(246, 246, 246);
    
    
}

.grid_down{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
.grid_photo{
    border: 1px soid red;
    width: 400px;
}
.grid_down2{
     border: 1px soid red;
    display: none;
}
/* .grid_photo2{
    border: 1px soid red;
    width: 300px;
} */

.new{
    /* border: 1px solid red; */
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
   padding-top: 80px;
}
.new_title{
    color: black;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.new_para{
      /* border: 1px solid red; */
     color: rgb(199, 198, 198);
    font-size: 16px;
    font-family: verdana;
    line-height: 25px;
}


.owl-item {width: 128.906px; margin-right: 10px;  }

/** to hide dots

.owl-theme .owl-dots .owl-dot{ display:none!important;}

**/
.container{
    margin-top: 50px;
}

.soft_leather{
    /* border: 1px solid red; */
    padding: 20px 0px 10px 0px;
}

.jacket{
     font-size: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 600;
}
.jacket_para{
    color:  rgb(199, 198, 198);
    padding: 20px 0px;
    font-family: verdana;
}
.discover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    /* text-decoration: underline; */
    
}
.discover:hover{
    color: burlywood;
    text-decoration: underline;
}

.photo{
     overflow: hidden;
}
.photo img{
   
    transition: transform 0.2s ease 0.8s;
}
.photo img:hover{
    transform: 0.2s;
    scale: 1.1;
}


@media screen and (max-width:768px){
    .grid_down{
        display: block;
    }
    .grid{
        display: none;
    }
}













.facilities{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.icons{
     /* border: 1px solid green; */
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
}
.icons span{
    font-size: 45px;
}
.icons_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 600;
}
.icons_para{
    color:  rgb(199, 198, 198);
 font-size: 15px;
 font-family: verdana;
 line-height: 24px;
 padding-top: 8px;
}

@media screen and (max-width: 426px){
    .facilities{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
     .facilities{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
      .icons_title{
        font-size: 18px;
      }
}



.shop{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 27% 27% 27%;
    gap: 40px;
    justify-content: center;
   margin-top: 80px;
}
.overflow img{
    overflow: hidden;
}
.shop_image{
     /* border: 1px solid green; */
     transition: transform 0.4s
}
.shop_image:hover{
   transform: 0.4s;
   scale: 1.1;
}
.shop_para{
   
    padding-top: 5px;
    font-size: 15px;
    font-family: verdana;
    color:  rgb(191, 190, 190);
}
.shop_para:hover{
  color: burlywood;
}

@media screen and (max-width: 426px){
 .shop{
    display: grid;
    grid-template-columns: 90%;
    gap: 15px;
}
}

.arrivals{
     /* border: 1px solid red; */
     margin-top: 40px;
}
.arrivals_content{
     /* border: 1px solid rgb(0, 255, 68); */
     display: flex;
     justify-content: space-around;
     /* gap: 50%; */
     
}

.new_arrivals{
    font-size: 35px;
    font-weight: 600;
}
.view{
    font-size: 12px;
    padding-top: 20px;
    font-family: verdana;
    position: relative;
}
.view::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 130px;
    height: 2px;
    top: 40px;
    right: 0;
    display: block;
    margin: auto;
}
.view_para{
    padding: 15px 0px 40px 0px;
}
.view_man{
    padding-top: 40px;
}
.view_name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
   
}
.rs{
    color: rgb(7, 129, 7);
    font-size: 15px;
    font-family:verdana;
    font-weight: 600;
    
}
.hat{
     overflow: hidden;
}
.hat img{
     position: relative;
     transition: transform 0.2s;
    
}
.hat img:hover{
 transform: 0.2s;
 scale: 1.1;
}
.overlay2{
   
     position: absolute;
  
     top: 20px;
     right: 20px;
     background-color: white;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.winter_collection{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
   padding: 100px 0px;
    background-color: rgb(246, 246, 246);
}
.winter_sisters{
      /* border: 1px solid green; */
     overflow: hidden;
      transition: transform 0.8s;
}

.winter_sisters:hover{
   transform: scale(0.8)
}
.winter_para{
      /* border: 1px solid green; */
      padding: 120px 50px 0px 50px;
    
}
.winter_title{
    font-size: 50px;
}
.dignissim{
   padding: 25px 0px;
     font-size: 15px;
    font-family: verdana;
    color:  rgb(191, 190, 190);
    line-height: 25px;
}
.black_collection{
    color: white;
    background-color: black;
    /* height: 40px; */
    padding: 10px 10px;
    border-radius: 10px;
}
.black_collection:hover{
    border: none;
    outline: none;
    background-color: burlywood;
}

.video{
    /* border: 1px solid red; */
}
.video_image{
/* border: 1px solid red; */
position: relative;
}
.play{
    /* border: 1px solid red; */
     position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
   transition: transform 0.8s;
}
.play img{
    transform: rotate(21.3684deg);
    width: 200px;
    height: 200px;

}
.textrotation{
    animation: rotation 50s infinite linear;
}

.video_icon{

/* border: 1px solid black; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 426px){
    .play img{
    
    width: 100px;
    height: 100px;

}
}





.carousel-indicators [data-bs-target] {
    
    box-sizing: content-box;
    flex: 0 1 auto;
 
    width: 10px !important   ;
    height: 10px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: var(--bs-carousel-indicator-active-bg);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50% !important;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.compliments{
    padding: 100px 0px;
    margin-top: 50px;
    background-color: rgb(241 241 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
   
}
.compliment_title{
     font-family: verdana;
   
    font-weight: 600;
    font-size: 23px;
}
.compliment_para{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-align: center;
}
.compliment_up{
     color: gray;
}

@media screen and (max-width: 426px){
    .compliments{
        display: grid;
        grid-template-columns: 50%;
         gap: 20px;
         padding: 70px 0px;
    }
    .compliment_title{
       
        font-size: 10px;
    }
    .compliment_para{
          font-size: 20px;
    }
    .compliment_up{
      
         font-size: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
        .compliments{
           gap: 20px;
        }
     .compliment_title{
       
        font-size: 20px;
    }
     .compliment_para{
          font-size: 28px;
    }
    .compliment_up{
      
         font-size: 15px;
    }
}

.read_blog{
    border: 1px solid red;
   
}

.blog{
    display: flex;
    justify-content: space-between;
    
}
.blog_title{
   font-size: 35px;
   font-weight: 600;
}

.view_all{
    
    font-size: 12px;
    padding-top: 20px;
    font-family: verdana;
    position: relative;
}
.view_all::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 60px;
    height: 2px;
    top: 40px;
    right: 0;
    display: block;
    margin: auto;
}

.blog_grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    gap: 26px;
}
.blog_fashion{
     /* border: 1px solid green; */
}
.blog_para{
    padding: 20px 10px 25px 10px;
}
.date{
    color: grey;
    font-size: 15px;
    font-family: verdana;
}
.date_title{
    font-size: 20px;
    font-family: verdana;
    font-weight: 600;
}
.date_para{
    color: grey;
    font-size: 16px;
    font-family: verdana;
}

@media screen and (max-width: 426px){
    .blog_grid{
         display: grid;
    grid-template-columns: 95%;
    margin-top: 25px;
    }
    .blog_title{
        font-size: 20px;
    }
    .view_all{
         padding-top: 10px;
    }
    .view_all::before{
         top: 30px;
    }
}


@media screen and (min-width: 426px) and (max-width: 768px){
    .date{
        font-size: 10px;
    }
    .date_title{
         font-size: 13px;
    }
    .date_para{
          font-size: 12px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
  .date{
        font-size: 15px;
    }
    .date_title{
         font-size: 16px;
    }
    .date_para{
          font-size: 15px;
    }
}

.logo_five{
    padding-top: 80px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 12% 12%  12% 12% 12%;
    justify-content: center;
    gap: 10%;
}
.logo img{
    height: 60px;
}
.logo{
     /* border: 1px solid green; */
}



@media screen and (max-width: 426px){
    .logo_five{
          display: grid;
    grid-template-columns: 50%;
    gap: 35px;
    padding-top: 30px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
     .logo_five{
      
    padding-top: 40px;
     }
}


.newsletter{
    margin-top: 100px;
    background-color: rgb(241 241 240);
}
.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0px 100px 0px;
    
}
.sign_title{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mail{
    display: flex;
    flex-direction: column;
 
    min-width: 450px;
    gap: 10px;
}
.your_email{
   padding: 6px 10px;
   border-radius: 5px;
   border: none;
}
.sign_up{
     padding: 6px 10px;
     color: white;
     background-color: black;
     border: none;
}
.sign_up:hover{
    background-color: rgb(190, 190, 182);
}

.insta{
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%; */
    display: flex;
    flex-direction: row;
    position: relative;
   
}
.image_insta{
     /* border: 1px solid green; */
}
.insta_para{
     /* border: 1px solid green; */
     display: flex;
     justify-content: center;
     align-items: center;
      position: absolute;
    bottom: -30px;
   left: 0;
   right: 0;
}
.click_insta{
   
    padding: 10px 10px;
     background-color: black;
     color: white;
    
}
.click_insta:hover{
  background-color: rgb(190, 190, 182);
}
.insta_para a{
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 426px){
    .sign{
        display: grid;
        grid-template-columns: 90%;
    }
    .mail{
        width: 100%;
    }
}








.kaira_end{
    margin-top: 50px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    gap: 30px;
    padding: 0px 0px 20px 0px;
}
.kaira_end_content{
     /* border: 1px solid green; */
     padding: 40px 10px 0px 10px;
}
.kaira_end_content span{
    font-size: 19px;
    color: grey;
    
}

.end_title{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.end_para{
  font-size: 15px;
  font-family: verdana;
  color: grey;

}



.quick_content{
    font-family: verdana;
   line-height: 15px;
}



/* .item {
	animation: animate 50s linear infinite;
}

@keyframes animate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1800px, 0, 0);
	}
} */



.line{
    border: 1px solid grey;
   
}

.ship_grid{
    /* border: 1px solid red; */
    
    display: grid;
    grid-template-columns: 40% 25%;
    justify-content: space-around;
   
}
.ship{
      /* border: 1px solid green; */
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.ship img{
    padding-top: 2px;
    width: 30px;
    height: 25px;
}
.ship_copy p{
    color: grey;
}